
  <section class="charts">
    <div class="container-fluid">
      <!-- Page Header-->
      <header> 
        <h1 class="h3 display">Charts</h1>
      </header>
      <div class="row">

        <div class="col-lg-6">
          <div class="card line-chart-example">
            <div class="card-header d-flex align-items-center">
              <h4>Tareas cumplidas vs pendientes</h4>
            </div>
            <div class="card-body">
              <canvas id="cumplidas_pendientes_chart"></canvas>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card bar-chart-example">
            <div class="card-header d-flex align-items-center">
              <h4>Tareas por tipo de columna</h4>
            </div>
            <div class="card-body">
              <canvas id="tareas_x_columna"></canvas>
             
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card polar-chart-example">
            <div class="card-header d-flex align-items-center">
              <h4>Equipos por mes</h4>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="equipos-mes"></canvas>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-6">
          <div class="card radar-chart-example">
            <div class="card-header d-flex align-items-center">
              <h4>Proyectos por mes</h4>                           
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="proyectos-mes"></canvas>
              </div>
            </div>
          </div>
        </div>

        


        <div class="col-lg-12">
          <div class="card radar-chart-example">
            <div class="card-header d-flex align-items-center">
              <h4>Reuniones por Mes</h4>
              
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="reuniones_mes"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    








