{% extends 'layouts/update.html'%}
{%load static %}



{% block form %}
                  
<form  action =" " method ="POST" enctype="multipart/form-data" class= " col-lg-12">

                    {% csrf_token %}
                  
                    
         
                    {{ form.as_p}}
                    
        
        <div class="card-footer"> 
          <button type="button"  class="btn btn-dark btn-flat" >
            <a href="{% url 'all_costs' %}" >
             <i class="fas fa fa-sign-out" style="color:white;"></i>
              Cancelar
            </a>
          </button>

          <button type="submit"  class="btn btn-primary btn-flat">
            <i class="fas fa fa-save"></i>
            Guardar
          </button>
        </div>             
                        

  {% endblock %}